<p id="notice"><%= notice %></p>

<h1>Listing Memories</h1>

<table>
  <thead>
    <tr>
      <th>Image file name,</th>
      <th>Description</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memories.each do |memory| %>
      <tr>
        <td><%= memory.image_file_name, %></td>
        <td><%= memory.description %></td>
        <td><%= memory.event %></td>
        <td><%= link_to 'Show', memory %></td>
        <td><%= link_to 'Edit', edit_memory_path(memory) %></td>
        <td><%= link_to 'Destroy', memory, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memory', new_memory_path %>
